@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@layer components {
  .header-item {
    @apply relative grow text-[#EFEFEF] py-3  transition-opacity   hover:text-[#FDBF57];
  }
  .header-item:active h1 {
    @apply lg:active:opacity-80;
  }
  .header-item-name {
    @apply px-4 py-3  lg:text-center  transition-all duration-300;
  }
  .header-item-dropdown {
    @apply hidden bg-[#56002A] absolute top-[100%] left-0 right-0 z-30;
  }
  .legend-item {
    @apply flex space-x-2 items-center justify-center;
  }
  .legend-item img {
    @apply h-8 w-8;
  }
  .legend-item h3 {
    @apply text-xl text-[#5A5A5A];
  }
  .node-container {
    @apply relative flex items-center justify-center w-8 h-8 border-[0.5px] border-[#5E6A71] overflow-visible;
  }
  @keyframes node-circle-expand {
    0% {
      height: 0px;
      width: 0px;
      border-radius: 100%;
    }
    90% {
      height: 110%;
      width: 110%;
    }
    100% {
      height: 100%;
      width: 100%;
      border-radius: 0%;
    }
  }
  .node {
    @apply absolute w-8 h-8;
  }
  .start-node {
    background-image: url("../public/start.png") !important;
    background-size: 100% 100%;
    animation-name: node-circle-expand;
    animation-duration: 0.5s;
  }
  .finish-node {
    background-image: url("../public/finish.png") !important;
    background-size: 100% 100%;
    animation-name: node-circle-expand;
    animation-duration: 0.5s;
  }
  .carrot-node {
    background-image: url("../public/carrot.png") !important;
    background-size: 100% 100%;
    animation-name: node-circle-expand;
    animation-duration: 0.5s;
  }
  .wall-node {
    @apply bg-[#5E6A71];
    animation-name: node-circle-expand;
    animation-duration: 0.5s;
  }
  .weight-node {
    background-image: url("../public/weight.png");
    background-size: 100% 100%;
    animation-name: node-circle-expand;
    animation-duration: 0.5s;
  }
  @keyframes start-to-carrot-animation {
    0% {
      height: 0px;
      width: 0px;
      border-radius: 100%;
      background-color: #8bd3e6;
      transform: scale(1);
    }
    90% {
      height: 110%;
      width: 110%;
      border-radius: 5%;
      transform: scale(1.1);
    }
    100% {
      height: 100%;
      width: 100%;
      border-radius: 0%;
      background-color: #007096;
      transform: scale(1);
    }
  }
  .start-to-carrot {
    @apply border-[#FDBF57] border-[0.5px];

    background-color: #007096;
    animation-name: start-to-carrot-animation;
    animation-duration: 1s;
  }
  @keyframes carrot-to-finish-animation {
    0% {
      height: 0px;
      width: 0px;
      border-radius: 100%;
      background-color: #56002a;
      transform: scale(1);
    }
    90% {
      height: 110%;
      width: 110%;
      border-radius: 5%;
      background-color: #7a003c;
      transform: scale(1.1);
    }
    100% {
      height: 100%;
      width: 100%;
      border-radius: 0%;
      background-color: #ac1455;
      transform: scale(1);
    }
  }
  .carrot-to-finish {
    @apply border-[#FDBF57] border-[0.5px];

    background-color: #ac1455;
    animation-name: carrot-to-finish-animation;
    animation-duration: 1s;
  }
  @keyframes node-shortest-path-animation {
    0% {
      transform: scale(1);
    }
    75% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  .node-shortest-path {
    background-color: #fdbf57;
    animation-name: node-shortest-path-animation;
    animation-duration: 1s;
  }
  .start-to-carrot-instant {
    @apply border-[#FDBF57] border-[0.5px];
    background-color: #007096;
  }
  .carrot-to-finish-instant {
    @apply border-[#FDBF57] border-[0.5px];

    background-color: #ac1455;
  }
}
